In [1]:
import pandas as pd
from datatools import DataSet

In [2]:
toptier = DataSet("TopTierByCity.csv", "toptier")

In [3]:
toptier.preprocessData

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,1996-02-29,...,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31
0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,365036.0,364050.0,...,1164868.0,1163643.0,1161293.0,1161456.0,1160636.0,1161335.0,1161188.0,1163271.0,1165733.0,1168412.0
1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,356868.0,357098.0,...,1430256.0,1442562.0,1454594.0,1464874.0,1468485.0,1471273.0,1485561.0,1505199.0,1527160.0,1542325.0
2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,199239.0,199337.0,...,365586.0,366082.0,367282.0,368817.0,370013.0,370901.0,372080.0,373592.0,376086.0,378392.0
3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,258053.0,257762.0,...,468431.0,469280.0,470592.0,471564.0,472563.0,474019.0,476825.0,480346.0,485116.0,489859.0
4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,165306.0,165202.0,...,294194.0,294269.0,295077.0,295495.0,296270.0,297154.0,298572.0,300354.0,302475.0,304943.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26248,8974,29449,Pecks Mill,City,WV,WV,Logan,Logan County,NaN,NaN,...,174241.0,174400.0,174638.0,175161.0,175537.0,176206.0,176071.0,176075.0,176003.0,176212.0
26249,25994,29449,Mosby,City,MO,MO,Kansas City,Clay County,NaN,NaN,...,142827.0,142902.0,144203.0,144701.0,145842.0,145992.0,146861.0,149007.0,151571.0,154624.0
26250,52717,29449,Junior,City,WV,WV,NaN,Barbour County,NaN,NaN,...,46127.0,46865.0,47270.0,47552.0,47984.0,48625.0,49287.0,49567.0,49570.0,49690.0
26251,53661,29449,Oakdale,City,WI,WI,NaN,Monroe County,NaN,NaN,...,187640.0,187440.0,187096.0,186985.0,186601.0,186153.0,185224.0,184588.0,184063.0,183734.0
26252,11693,30967,Great Lakes,City,IL,IL,Chicago-Naperville-Elgin,Cook County,NaN,NaN,...,270792.0,270228.0,270182.0,268557.0,268372.0,269079.0,270059.0,269669.0,268895.0,269186.0

In [4]:
toptier.clean()

In [5]:
toptier.preprocessData

,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,1996-09-30,1996-10-31,...,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31
RegionID,,,,,,,,,,,,,,,,,,,,,
6181,365036.0,364050.0,363572.0,362762.0,362574.0,362421.0,362281.0,362104.0,362130.0,362421.0,...,1164868.0,1163643.0,1161293.0,1161456.0,1160636.0,1161335.0,1161188.0,1163271.0,1165733.0,1168412.0
12447,356868.0,357098.0,357347.0,357839.0,358244.0,358663.0,359224.0,359358.0,359304.0,358923.0,...,1430256.0,1442562.0,1454594.0,1464874.0,1468485.0,1471273.0,1485561.0,1505199.0,1527160.0,1542325.0
39051,199239.0,199337.0,199241.0,199397.0,199564.0,199543.0,199382.0,199319.0,199640.0,200240.0,...,365586.0,366082.0,367282.0,368817.0,370013.0,370901.0,372080.0,373592.0,376086.0,378392.0
17426,258053.0,257762.0,257245.0,257169.0,256526.0,256728.0,256484.0,257257.0,258344.0,259875.0,...,468431.0,469280.0,470592.0,471564.0,472563.0,474019.0,476825.0,480346.0,485116.0,489859.0
6915,165306.0,165202.0,165108.0,165032.0,164886.0,164810.0,164746.0,164886.0,165088.0,165279.0,...,294194.0,294269.0,295077.0,295495.0,296270.0,297154.0,298572.0,300354.0,302475.0,304943.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,174241.0,174400.0,174638.0,175161.0,175537.0,176206.0,176071.0,176075.0,176003.0,176212.0
25994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,142827.0,142902.0,144203.0,144701.0,145842.0,145992.0,146861.0,149007.0,151571.0,154624.0
52717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46127.0,46865.0,47270.0,47552.0,47984.0,48625.0,49287.0,49567.0,49570.0,49690.0
53661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,187640.0,187440.0,187096.0,186985.0,186601.0,186153.0,185224.0,184588.0,184063.0,183734.0
11693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,270792.0,270228.0,270182.0,268557.0,268372.0,269079.0,270059.0,269669.0,268895.0,269186.0

In [6]:
toptier.indexdf

       regionid     cityname statename
0          6181     New York        NY
1         12447  Los Angeles        CA
2         39051      Houston        TX
3         17426      Chicago        IL
4          6915  San Antonio        TX
...         ...          ...       ...
26248      8974   Pecks Mill        WV
26249     25994        Mosby        MO
26250     52717       Junior        WV
26251     53661      Oakdale        WI
26252     11693  Great Lakes        IL

[26253 rows x 3 columns]

In [7]:
toptier.split()

In [8]:
toptier.splittedData['NY']

,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,1996-09-30,1996-10-31,...,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31
RegionID,,,,,,,,,,,,,,,,,,,,,
6181,365036.0,364050.0,363572.0,362762.0,362574.0,362421.0,362281.0,362104.0,362130.0,362421.0,...,1164868.0,1163643.0,1161293.0,1161456.0,1160636.0,1161335.0,1161188.0,1163271.0,1165733.0,1168412.0
32172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,553895.0,557682.0,561749.0,565520.0,569136.0,572519.0,577971.0,584397.0,591098.0,598253.0
17222,114991.0,114773.0,114511.0,114073.0,113636.0,113360.0,113041.0,112882.0,112589.0,112374.0,...,214499.0,215437.0,215815.0,216603.0,217136.0,218431.0,220158.0,222606.0,225897.0,229265.0
13550,91150.0,90821.0,90655.0,90731.0,90897.0,91155.0,91066.0,91118.0,91106.0,91135.0,...,142167.0,143009.0,143946.0,144919.0,145516.0,146031.0,146477.0,146988.0,147806.0,149029.0
34937,305946.0,305544.0,305566.0,305523.0,305826.0,305866.0,305434.0,304607.0,303656.0,303452.0,...,653934.0,657227.0,659025.0,659619.0,659875.0,662054.0,666769.0,671500.0,676428.0,683003.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17279,47060.0,47227.0,47442.0,47893.0,48348.0,48881.0,49601.0,50505.0,51206.0,52048.0,...,114270.0,114810.0,115253.0,115681.0,116387.0,116843.0,117142.0,117205.0,117494.0,118081.0
13162,84400.0,84153.0,84089.0,83858.0,84320.0,84852.0,85557.0,85343.0,85181.0,84969.0,...,171822.0,172160.0,172585.0,172741.0,172921.0,173017.0,173291.0,173374.0,173339.0,173623.0
30632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,145757.0,145866.0,145751.0,145582.0,145624.0,145711.0,145906.0,145640.0,145358.0,144946.0
33471,80740.0,80476.0,80090.0,79502.0,79262.0,79353.0,78960.0,77921.0,76826.0,76472.0,...,168496.0,168545.0,168613.0,169095.0,169814.0,170267.0,170876.0,170938.0,171232.0,170794.0
29920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121392.0,121850.0,122105.0,122441.0,122828.0,123844.0,124881.0,125559.0,126317.0,127305.0

In [9]:
toptier.multi_process(5)

NY CA TX IL PA are to processed together.
Working on NY
Working on CA
Working on TX
Working on IL
Working on PA
NY is done.
PA is done.
CA is done.
IL is done.
TX is done.
AZ NV FL IN NC are to processed together.
Working on AZ
Working on NV
Working on FL
Working on IN
Working on NC
NV is done.
AZ is done.
IN is done.
FL is done.
NC is done.
OH KY MI CO WA are to processed together.
Working on OH
Working on KY
Working on MI
Working on CO
Working on WA
CO is done.
WA is done.
KY is done.
MI is done.
OH is done.
TN MA DC OR MD are to processed together.
Working on TN
Working on MA
Working on DC
Working on OR
DC is done.
Working on MD
OR is done.
MA is done.
MD is done.
TN is done.
WI NE NM OK GA are to processed together.
Working on WI
Working on NE
Working on NM
Working on OK
Working on GA
NM is done.
NE is done.
OK is done.
GA is done.
WI is done.
MO VA MN HI LA are to processed together.
Working on MO
Working on VA
Working on MN
Working on HI
Working on LA
HI is done.
LA is done.
VA is done.
MN is done.
MO is done.
KS SC AK NJ AL are to processed together.
Working on KS
Working on SC
Working on AK
Working on NJ
Working on AL
AK is done.
SC is done.
KS is done.
NJ is done.
AL is done.
ID IA UT AR RI are to processed together.
Working on ID
Working on IA
Working on UT
Working on AR
Working on RI
RI is done.
ID is done.
UT is done.
AR is done.
IA is done.
SD MS CT DE MT are to processed together.
Working on SD
Working on MS
Working on CT
Working on DE
Working on MT
DE is done.
SD is done.
CT is done.
MT is done.
MS is done.
NH ND WY WV ME are to processed together.
Working on NH
Working on ND
Working on WY
Working on WV
Working on ME
WY is done.
ND is done.
NH is done.
ME is done.
WV is done.
VT are to processed together.
Working on VT
VT is done.
['NY', 'PA', 'CA', 'IL', 'TX', 'NV', 'AZ', 'IN', 'FL', 'NC', 'CO', 'WA', 'KY', 'MI', 'OH', 'DC', 'OR', 'MA', 'MD', 'TN', 'NM', 'NE', 'OK', 'GA', 'WI', 'HI', 'LA', 'VA', 'MN', 'MO', 'AK', 'SC', 'KS', 'NJ', 'AL', 'RI', 'ID', 'UT', 'AR', 'IA', 'DE', 'SD', 'CT', 'MT', 'MS', 'WY', 'ND', 'NH', 'ME', 'WV', 'VT']

In [10]:
toptier.statelist

array(['NY', 'CA', 'TX', 'IL', 'PA', 'AZ', 'NV', 'FL', 'IN', 'NC', 'OH',
       'KY', 'MI', 'CO', 'WA', 'TN', 'MA', 'DC', 'OR', 'MD', 'WI', 'NE',
       'NM', 'OK', 'GA', 'MO', 'VA', 'MN', 'HI', 'LA', 'KS', 'SC', 'AK',
       'NJ', 'AL', 'ID', 'IA', 'UT', 'AR', 'RI', 'SD', 'MS', 'CT', 'DE',
       'MT', 'NH', 'ND', 'WY', 'WV', 'ME', 'VT'], dtype=object)

In [12]:
toptier.processedData

{'NY':          toptier       date  regionid
 0       365036.0 1996-01-31      6181
 1       364050.0 1996-02-29      6181
 2       363572.0 1996-03-31      6181
 3       362762.0 1996-04-30      6181
 4       362574.0 1996-05-31      6181
 ...          ...        ...       ...
 280522  123844.0 2020-06-30     29920
 280523  124881.0 2020-07-31     29920
 280524  125559.0 2020-08-31     29920
 280525  126317.0 2020-09-30     29920
 280526  127305.0 2020-10-31     29920

 [280527 rows x 3 columns],
 'PA':          toptier       date  regionid
 0       126141.0 1996-01-31     13271
 1       125899.0 1996-02-29     13271
 2       125661.0 1996-03-31     13271
 3       125240.0 1996-04-30     13271
 4       124903.0 1996-05-31     13271
 ...          ...        ...       ...
 247670  283959.0 2020-06-30     12642
 247671  286957.0 2020-07-31     12642
 247672  290037.0 2020-08-31     12642
 247673  293013.0 2020-09-30     12642
 247674  295616.0 2020-10-31     12642

 [247675 rows x 3 columns],
 'CA':          toptier       date  regionid
 0       356868.0 1996-01-31     12447
 1       357098.0 1996-02-29     12447
 2       357347.0 1996-03-31     12447
 3       357839.0 1996-04-30     12447
 4       358244.0 1996-05-31     12447
 ...          ...        ...       ...
 285586  158778.0 2020-06-30     14201
 285587  162489.0 2020-07-31     14201
 285588  167929.0 2020-08-31     14201
 285589  175259.0 2020-09-30     14201
 285590  183728.0 2020-10-31     14201

 [285591 rows x 3 columns],
 'IL':          toptier       date  regionid
 0       258053.0 1996-01-31     17426
 1       257762.0 1996-02-29     17426
 2       257245.0 1996-03-31     17426
 3       257169.0 1996-04-30     17426
 4       256526.0 1996-05-31     17426
 ...          ...        ...       ...
 270279  269079.0 2020-06-30     11693
 270280  270059.0 2020-07-31     11693
 270281  269669.0 2020-08-31     11693
 270282  268895.0 2020-09-30     11693
 270283  269186.0 2020-10-31     11693

 [270284 rows x 3 columns],
 'TX':          toptier       date  regionid
 0       199239.0 1996-01-31     39051
 1       199337.0 1996-02-29     39051
 2       199241.0 1996-03-31     39051
 3       199397.0 1996-04-30     39051
 4       199564.0 1996-05-31     39051
 ...          ...        ...       ...
 314766  199396.0 2020-06-30      6661
 314767  198366.0 2020-07-31      6661
 314768  198691.0 2020-08-31      6661
 314769  198752.0 2020-09-30      6661
 314770  199016.0 2020-10-31      6661

 [314771 rows x 3 columns],
 'NV':         toptier       date  regionid
 0      229076.0 1996-01-31     18959
 1      228780.0 1996-02-29     18959
 2      228826.0 1996-03-31     18959
 3      228652.0 1996-04-30     18959
 4      228723.0 1996-05-31     18959
 ...         ...        ...       ...
 16674  180927.0 2020-06-30     18719
 16675  182682.0 2020-07-31     18719
 16676  182453.0 2020-08-31     18719
 16677  181896.0 2020-09-30     18719
 16678  180791.0 2020-10-31     18719

 [16679 rows x 3 columns],
 'AZ':         toptier       date  regionid
 0      162172.0 1996-01-31     40326
 1      162615.0 1996-02-29     40326
 2      163117.0 1996-03-31     40326
 3      164078.0 1996-04-30     40326
 4      165010.0 1996-05-31     40326
 ...         ...        ...       ...
 49324  358912.0 2020-06-30     37359
 49325  361239.0 2020-07-31     37359
 49326  365072.0 2020-08-31     37359
 49327  369480.0 2020-09-30     37359
 49328  374201.0 2020-10-31     37359

 [49329 rows x 3 columns],
 'IN':          toptier       date  regionid
 0       175216.0 1999-06-30     32149
 1       173828.0 1999-07-31     32149
 2       171951.0 1999-08-31     32149
 3       169536.0 1999-09-30     32149
 4       167080.0 1999-10-31     32149
 ...          ...        ...       ...
 145449  127497.0 2020-06-30     34339
 145450  127212.0 2020-07-31     34339
 145451  126523.0 2020-08-31     34339
 145452  125961.0 2020-09-30     34339
 145453  125154.0 2020-10-31     34339

 [145454 rows x 3 columns],
 'FL':          toptier       date  regionid
 0       135795.0 1996-01-31     25290
 1       135956.0 1996-02-29     25290
 2       136102.0 1996-03-31     25290
 3       136388.0 1996-04-30     25290
 4       136627.0 1996-05-31     25290
 ...          ...        ...       ...
 190647  387128.0 2020-06-30    125737
 190648  387841.0 2020-07-31    125737
 190649  389589.0 2020-08-31    125737
 190650  390979.0 2020-09-30    125737
 190651  392096.0 2020-10-31    125737

 [190652 rows x 3 columns],
 'NC':          toptier       date  regionid
 0       224358.0 1996-01-31     24043
 1       224658.0 1996-02-29     24043
 2       224995.0 1996-03-31     24043
 3       225820.0 1996-04-30     24043
 4       226639.0 1996-05-31     24043
 ...          ...        ...       ...
 187726  504763.0 2020-06-30      9686
 187727  503025.0 2020-07-31      9686
 187728  503235.0 2020-08-31      9686
 187729  506628.0 2020-09-30      9686
 187730  511083.0 2020-10-31      9686

 [187731 rows x 3 columns],
 'CO':         toptier       date  regionid
 0      218513.0 1996-01-31     11093
 1      219416.0 1996-02-29     11093
 2      220170.0 1996-03-31     11093
 3      221768.0 1996-04-30     11093
 4      223087.0 1996-05-31     11093
 ...         ...        ...       ...
 98189  372594.0 2020-06-30     20169
 98190  371296.0 2020-07-31     20169
 98191  371532.0 2020-08-31     20169
 98192  371752.0 2020-09-30     20169
 98193  372240.0 2020-10-31     20169

 [98194 rows x 3 columns],
 'WA':          toptier       date  regionid
 0       283404.0 1996-01-31     16037
 1       283563.0 1996-02-29     16037
 2       283611.0 1996-03-31     16037
 3       283713.0 1996-04-30     16037
 4       283866.0 1996-05-31     16037
 ...          ...        ...       ...
 113055  137208.0 2020-06-30     25435
 113056  139323.0 2020-07-31     25435
 113057  141493.0 2020-08-31     25435
 113058  144114.0 2020-09-30     25435
 113059  147288.0 2020-10-31     25435

 [113060 rows x 3 columns],
 'KY':          toptier       date  regionid
 0       156309.0 1996-01-31     12455
 1       156657.0 1996-02-29     12455
 2       156947.0 1996-03-31     12455
 3       157563.0 1996-04-30     12455
 4       158082.0 1996-05-31     12455
 ...          ...        ...       ...
 145873   75300.0 2020-06-30     45016
 145874   74816.0 2020-07-31     45016
 145875   74633.0 2020-08-31     45016
 145876   74258.0 2020-09-30     45016
 145877   73906.0 2020-10-31     45016

 [145878 rows x 3 columns],
 'MI':           toptier       date  regionid
 0         73517.0 2009-05-31     17762
 1         72255.0 2009-06-30     17762
 2         72016.0 2009-07-31     17762
 3         70645.0 2009-08-31     17762
 4         69557.0 2009-09-30     17762
 ...           ...        ...       ...
 210579  1012507.0 2020-06-30     52928
 210580  1015944.0 2020-07-31     52928
 210581  1022864.0 2020-08-31     52928
 210582  1027559.0 2020-09-30     52928
 210583  1033938.0 2020-10-31     52928

 [210584 rows x 3 columns],
 'OH':          toptier       date  regionid
 0       137504.0 1996-01-31     10920
 1       137647.0 1996-02-29     10920
 2       137828.0 1996-03-31     10920
 3       138186.0 1996-04-30     10920
 4       138650.0 1996-05-31     10920
 ...          ...        ...       ...
 307963  142462.0 2020-06-30     44576
 307964  141214.0 2020-07-31     44576
 307965  140609.0 2020-08-31     44576
 307966  140809.0 2020-09-30     44576
 307967  140751.0 2020-10-31     44576

 [307968 rows x 3 columns],
 'DC':        toptier       date  regionid
 0     294952.0 1996-01-31     41568
 1     293781.0 1996-02-29     41568
 2     292703.0 1996-03-31     41568
 3     290922.0 1996-04-30     41568
 4     289362.0 1996-05-31     41568
 ..         ...        ...       ...
 293  1059549.0 2020-06-30     41568
 294  1060225.0 2020-07-31     41568
 295  1065201.0 2020-08-31     41568
 296  1070868.0 2020-09-30     41568
 297  1075643.0 2020-10-31     41568

 [298 rows x 3 columns],
 'OR':         toptier       date  regionid
 0      211647.0 1996-01-31     13373
 1      212627.0 1996-02-29     13373
 2      213505.0 1996-03-31     13373
 3      215299.0 1996-04-30     13373
 4      216799.0 1996-05-31     13373
 ...         ...        ...       ...
 88710  318183.0 2020-06-30     47605
 88711  320159.0 2020-07-31     47605
 88712  322117.0 2020-08-31     47605
 88713  324447.0 2020-09-30     47605
 88714  326478.0 2020-10-31     47605

 [88715 rows x 3 columns],
 'MA':          toptier       date  regionid
 0       258001.0 1996-01-31     44269
 1       257723.0 1996-02-29     44269
 2       257015.0 1996-03-31     44269
 3       256843.0 1996-04-30     44269
 4       257183.0 1996-05-31     44269
 ...          ...        ...       ...
 99383  1649403.0 2020-06-30     27886
 99384  1651162.0 2020-07-31     27886
 99385  1653921.0 2020-08-31     27886
 99386  1656580.0 2020-09-30     27886
 99387  1659820.0 2020-10-31     27886

 [99388 rows x 3 columns],
 'MD':          toptier       date  regionid
 0       149595.0 1996-01-31      3523
 1       149560.0 1996-02-29      3523
 2       149434.0 1996-03-31      3523
 3       149284.0 1996-04-30      3523
 4       149117.0 1996-05-31      3523
 ...          ...        ...       ...
 122667  440898.0 2020-06-30     11591
 122668  444168.0 2020-07-31     11591
 122669  450403.0 2020-08-31     11591
 122670  457669.0 2020-09-30     11591
 122671  466738.0 2020-10-31     11591

 [122672 rows x 3 columns],
 'TN':          toptier       date  regionid
 0       138584.0 1996-01-31     32811
 1       138883.0 1996-02-29     32811
 2       139218.0 1996-03-31     32811
 3       139885.0 1996-04-30     32811
 4       140612.0 1996-05-31     32811
 ...          ...        ...       ...
 151246   96202.0 2020-06-30     16291
 151247   96885.0 2020-07-31     16291
 151248   97709.0 2020-08-31     16291
 151249   99292.0 2020-09-30     16291
 151250  100595.0 2020-10-31     16291

 [151251 rows x 3 columns],
 'NM':         toptier       date  regionid
 0      203672.0 1998-06-30     23429
 1      203555.0 1998-07-31     23429
 2      203511.0 1998-08-31     23429
 3      203613.0 1998-09-30     23429
 4      203728.0 1998-10-31     23429
 ...         ...        ...       ...
 27271  194386.0 2020-06-30     41836
 27272  193917.0 2020-07-31     41836
 27273  193200.0 2020-08-31     41836
 27274  192650.0 2020-09-30     41836
 27275  192261.0 2020-10-31     41836

 [27276 rows x 3 columns],
 'NE':         toptier       date  regionid
 0      160325.0 1996-01-31     40152
 1      161103.0 1996-02-29     40152
 2      161471.0 1996-03-31     40152
 3      162496.0 1996-04-30     40152
 4      163115.0 1996-05-31     40152
 ...         ...        ...       ...
 72638  140132.0 2020-06-30      8242
 72639  140045.0 2020-07-31      8242
 72640  139875.0 2020-08-31      8242
 72641  139706.0 2020-09-30      8242
 72642  139251.0 2020-10-31      8242

 [72643 rows x 3 columns],
 'OK':          toptier       date  regionid
 0       123302.0 1996-01-31     33225
 1       123593.0 1996-02-29     33225
 2       124019.0 1996-03-31     33225
 3       124633.0 1996-04-30     33225
 4       125302.0 1996-05-31     33225
 ...          ...        ...       ...
 161726   79281.0 2020-06-30     35662
 161727   79943.0 2020-07-31     35662
 161728   80563.0 2020-08-31     35662
 161729   80678.0 2020-09-30     35662
 161730   80758.0 2020-10-31     35662

 [161731 rows x 3 columns],
 'GA':          toptier       date  regionid
 0       244796.0 1996-01-31     37211
 1       245691.0 1996-02-29     37211
 2       246386.0 1996-03-31     37211
 3       248048.0 1996-04-30     37211
 4       249510.0 1996-05-31     37211
 ...          ...        ...       ...
 173944   78543.0 2020-06-30     40788
 173945   78669.0 2020-07-31     40788
 173946   78623.0 2020-08-31     40788
 173947   78631.0 2020-09-30     40788
 173948   78542.0 2020-10-31     40788

 [173949 rows x 3 columns],
 'WI':          toptier       date  regionid
 0        92448.0 1996-01-31      5976
 1        92492.0 1996-02-29      5976
 2        92574.0 1996-03-31      5976
 3        92761.0 1996-04-30      5976
 4        93061.0 1996-05-31      5976
 ...          ...        ...       ...
 175296  186153.0 2020-06-30     53661
 175297  185224.0 2020-07-31     53661
 175298  184588.0 2020-08-31     53661
 175299  184063.0 2020-09-30     53661
 175300  183734.0 2020-10-31     53661

 [175301 rows x 3 columns],
 'HI':         toptier       date  regionid
 0      552295.0 1996-01-31     18615
 1      551713.0 1996-02-29     18615
 2      549720.0 1996-03-31     18615
 3      545418.0 1996-04-30     18615
 4      539091.0 1996-05-31     18615
 ...         ...        ...       ...
 14004  614970.0 2020-06-30     53729
 14005  609968.0 2020-07-31     53729
 14006  604274.0 2020-08-31     53729
 14007  600548.0 2020-09-30     53729
 14008  599013.0 2020-10-31     53729

 [14009 rows x 3 columns],
 'LA':         toptier       date  regionid
 0      212432.0 1996-01-31     19594
 1      213166.0 1996-02-29     19594
 2      213781.0 1996-03-31     19594
 3      214839.0 1996-04-30     19594
 4      215584.0 1996-05-31     19594
 ...         ...        ...       ...
 72828   99684.0 2020-06-30     35075
 72829   99559.0 2020-07-31     35075
 72830   99856.0 2020-08-31     35075
 72831  100286.0 2020-09-30     35075
 72832  100906.0 2020-10-31     35075

 [72833 rows x 3 columns],
 'VA':          toptier       date  regionid
 0       194050.0 1996-01-31     41515
 1       193930.0 1996-02-29     41515
 2       193863.0 1996-03-31     41515
 3       193774.0 1996-04-30     41515
 4       193569.0 1996-05-31     41515
 ...          ...        ...       ...
 149127  131678.0 2020-06-30      8710
 149128  131929.0 2020-07-31      8710
 149129  131799.0 2020-08-31      8710
 149130  131393.0 2020-09-30      8710
 149131  130659.0 2020-10-31      8710

 [149132 rows x 3 columns],
 'MN':          toptier       date  regionid
 0       144257.0 1996-01-31      5983
 1       144101.0 1996-02-29      5983
 2       143981.0 1996-03-31      5983
 3       144039.0 1996-04-30      5983
 4       144335.0 1996-05-31      5983
 ...          ...        ...       ...
 190198  160189.0 2020-06-30     30949
 190199  158816.0 2020-07-31     30949
 190200  157841.0 2020-08-31     30949
 190201  157002.0 2020-09-30     30949
 190202  156928.0 2020-10-31     30949

 [190203 rows x 3 columns],
 'MO':          toptier       date  regionid
 0       143437.0 1996-01-31     18795
 1       143770.0 1996-02-29     18795
 2       144044.0 1996-03-31     18795
 3       144618.0 1996-04-30     18795
 4       145123.0 1996-05-31     18795
 ...          ...        ...       ...
 182679  145992.0 2020-06-30     25994
 182680  146861.0 2020-07-31     25994
 182681  149007.0 2020-08-31     25994
 182682  151571.0 2020-09-30     25994
 182683  154624.0 2020-10-31     25994

 [182684 rows x 3 columns],
 'AK':         toptier       date  regionid
 0      202360.0 1996-01-31     23482
 1      203024.0 1996-02-29     23482
 2      203195.0 1996-03-31     23482
 3      204061.0 1996-04-30     23482
 4      204508.0 1996-05-31     23482
 ...         ...        ...       ...
 10148  292401.0 2020-06-30     10832
 10149  294256.0 2020-07-31     10832
 10150  296378.0 2020-08-31     10832
 10151  298905.0 2020-09-30     10832
 10152  302138.0 2020-10-31     10832

 [10153 rows x 3 columns],
 'SC':         toptier       date  regionid
 0      159549.0 1996-01-31      4174
 1      159727.0 1996-02-29      4174
 2      159832.0 1996-03-31      4174
 3      160105.0 1996-04-30      4174
 4      160348.0 1996-05-31      4174
 ...         ...        ...       ...
 84339  122190.0 2020-06-30     57066
 84340  121548.0 2020-07-31     57066
 84341  120027.0 2020-08-31     57066
 84342  119092.0 2020-09-30     57066
 84343  118604.0 2020-10-31     57066

 [84344 rows x 3 columns],
 'KS':         toptier       date  regionid
 0      151683.0 1998-04-30      7929
 1      151821.0 1998-05-31      7929
 2      152055.0 1998-06-30      7929
 3      152642.0 1998-07-31      7929
 4      153271.0 1998-08-31      7929
 ...         ...        ...       ...
 72851   48235.0 2020-06-30     50188
 72852   48378.0 2020-07-31     50188
 72853   48470.0 2020-08-31     50188
 72854   48583.0 2020-09-30     50188
 72855   48494.0 2020-10-31     50188

 [72856 rows x 3 columns],
 'NJ':          toptier       date  regionid
 0       248988.0 1996-01-31     12970
 1       248370.0 1996-02-29     12970
 2       247565.0 1996-03-31     12970
 3       246305.0 1996-04-30     12970
 4       245205.0 1996-05-31     12970
 ...          ...        ...       ...
 149051  422892.0 2020-06-30     52031
 149052  423439.0 2020-07-31     52031
 149053  425951.0 2020-08-31     52031
 149054  431198.0 2020-09-30     52031
 149055  437768.0 2020-10-31     52031

 [149056 rows x 3 columns],
 'AL':          toptier       date  regionid
 0       140844.0 1996-01-31     32900
 1       140991.0 1996-02-29     32900
 2       141146.0 1996-03-31     32900
 3       141349.0 1996-04-30     32900
 4       141544.0 1996-05-31     32900
 ...          ...        ...       ...
 120166  130067.0 2020-06-30    106778
 120167  130663.0 2020-07-31    106778
 120168  131370.0 2020-08-31    106778
 120169  132189.0 2020-09-30    106778
 120170  133052.0 2020-10-31    106778

 [120171 rows x 3 columns],
 'RI':          toptier       date  regionid
 0       162283.0 1996-01-31     26637
 1       162336.0 1996-02-29     26637
 2       162252.0 1996-03-31     26637
 3       162022.0 1996-04-30     26637
 4       161704.0 1996-05-31     26637
 ...          ...        ...       ...
 12665  1644254.0 2020-06-30    398956
 12666  1653120.0 2020-07-31    398956
 12667  1663769.0 2020-08-31    398956
 12668  1671800.0 2020-09-30    398956
 12669  1665988.0 2020-10-31    398956

 [12670 rows x 3 columns],
 'ID':         toptier       date  regionid
 0      231812.0 1997-01-31      3737
 1      232401.0 1997-02-28      3737
 2      232569.0 1997-03-31      3737
 3      233122.0 1997-04-30      3737
 4      233793.0 1997-05-31      3737
 ...         ...        ...       ...
 47759  425783.0 2020-06-30     10051
 47760  426813.0 2020-07-31     10051
 47761  432087.0 2020-08-31     10051
 47762  437625.0 2020-09-30     10051
 47763  442107.0 2020-10-31     10051

 [47764 rows x 3 columns],
 'UT':         toptier       date  regionid
 0      285760.0 1996-01-31      6909
 1      285996.0 1996-02-29      6909
 2      286828.0 1996-03-31      6909
 3      287994.0 1996-04-30      6909
 4      289548.0 1996-05-31      6909
 ...         ...        ...       ...
 55338  247113.0 2020-06-30     26717
 55339  247599.0 2020-07-31     26717
 55340  247908.0 2020-08-31     26717
 55341  249238.0 2020-09-30     26717
 55342  252451.0 2020-10-31     26717

 [55343 rows x 3 columns],
 'AR':          toptier       date  regionid
 0       264726.0 1996-01-31     52998
 1       265433.0 1996-02-29     52998
 2       266239.0 1996-03-31     52998
 3       267363.0 1996-04-30     52998
 4       268066.0 1996-05-31     52998
 ...          ...        ...       ...
 145054  162323.0 2020-06-30     45430
 145055  162676.0 2020-07-31     45430
 145056  163873.0 2020-08-31     45430
 145057  164610.0 2020-09-30     45430
 145058  164264.0 2020-10-31     45430

 [145059 rows x 3 columns],
 'IA':          toptier       date  regionid
 0       113510.0 1996-01-31     17759
 1       113813.0 1996-02-29     17759
 2       114018.0 1996-03-31     17759
 3       114465.0 1996-04-30     17759
 4       114775.0 1996-05-31     17759
 ...          ...        ...       ...
 174256   70625.0 2020-06-30     29450
 174257   70623.0 2020-07-31     29450
 174258   70293.0 2020-08-31     29450
 174259   69479.0 2020-09-30     29450
 174260   68570.0 2020-10-31     29450

 [174261 rows x 3 columns],
 'DE':         toptier       date  regionid